# Django project files
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/
*.log

# Vue project files
/frontend/node_modules
/frontend/dist
/frontend/build

# Editor and environment files
.vscode/
.idea/
*.env

# Ignore migration files for Django
**/migrations/**

# Ignore any other miscellaneous files
*.DS_Store
Thumbs.db
venv/