.fl {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito";
}

h1 {
    font-size: 52px;
}

.page-wrapper {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 50px 0;
}

hr {
    width: 100%;
    margin: 0;
    height: 3px;
    border: 0px;
    background-image: linear-gradient(to right, #fff, #e1e1e1, #fff);
}

.highlighted {
    color: #EB5C54;
    font-size: 26px;
}

.label-font {
    font-family: Nunito;
    font-size: 16px;
    color: #4f4f4f;
}


.invalid {
    color: red;
    box-shadow: red;
    border: 2px solid red;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 15px;
}

.gap-3 {
    gap: 20px;
}


